<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="styleSheet" href="/stylesheets/style.css" />
    <title>Toronto Pearson Airport</title>
  </head>
  <body>
    <div class="header">
      <h1>Toronto Pearson Airport</h1>
    </div>
    <div class="menubar">
      <a href="/flights/">ALL FLIGHTS</a>&nbsp;&nbsp;&nbsp;
      <a href="/flights/new/">ADD FLIGHT</a>
    </div>
  </body>
</html>
